<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IwovWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IwovWebService.Properties.Settings>
            <setting name="IwovWebService_gsoimanage2_IWOVServices" serializeAs="String">
                <value>http://gsoimanage2/worksite/services/IWOVServices.asmx</value>
            </setting>
        </IwovWebService.Properties.Settings>
    </applicationSettings>
</configuration>