<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LoggerHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <LoggerHelper.Properties.Settings>
            <setting name="LogSource" serializeAs="String">
                <value>Nlog</value>
            </setting>
            <setting name="NlogInternalLoggingFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="NlogInternalLoggingToConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NlogEventTargetEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NlogLevel" serializeAs="String">
                <value>Debug</value>
            </setting>
            <setting name="NlogFileSizeMB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NlogFolderPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="NlogFileName" serializeAs="String">
                <value/>
            </setting>
            <setting name="NlogInternalLoggingLevel" serializeAs="String">
                <value/>
            </setting>
        </LoggerHelper.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
