<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IWOVServicesSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://lvdimanweb1.lw.com/worksite/services/IWOVServices.asmx" binding="basicHttpBinding" bindingConfiguration="IWOVServicesSoap" contract="LVDIMANWEB1.IWOVServicesSoap" name="IWOVServicesSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
