<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MSMQHandlerService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <MSMQHandlerService.Properties.Settings>
            <setting name="EwsFileSavePath" serializeAs="String">
                <value>c:\MSMQHandlerService\Ews</value>
            </setting>
            <setting name="CicServerName" serializeAs="String">
                <value>CICServer</value>
            </setting>
            <setting name="CicUsername" serializeAs="String">
                <value>username</value>
            </setting>
            <setting name="CicPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="CicPeriodicity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EwsPeriodicity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ImanagePeriodicity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ServiceNowPeriodicity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LogDirectory" serializeAs="String">
                <value>c:\MSMQHandlerService\Logs</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>Debug</value>
            </setting>
            <setting name="CicRequestQueueName" serializeAs="String">
                <value>Cic</value>
            </setting>
            <setting name="CicResponseQueueName" serializeAs="String">
                <value>CicResponse</value>
            </setting>
            <setting name="CicMaxMessageRetries" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="EwsRequestQueueName" serializeAs="String">
                <value>Ews</value>
            </setting>
            <setting name="EwsResponseQueueName" serializeAs="String">
                <value>EwsResponse</value>
            </setting>
            <setting name="ImanageRequestQueueName" serializeAs="String">
                <value>Imanage</value>
            </setting>
            <setting name="ImanageResponseQueueName" serializeAs="String">
                <value>ImanageResponse</value>
            </setting>
            <setting name="ServiceNowRequestQueueName" serializeAs="String">
                <value>ServiceNow</value>
            </setting>
            <setting name="ServiceNowResponseQueueName" serializeAs="String">
                <value>ServiceNowResponse</value>
            </setting>
            <setting name="EwsMaxMessageRetries" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ImanageMaxMessageRetries" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ServiceNowMaxMessageRetries" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CicStopHandlerOnError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EwsStopHandlerOnError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImanageStopHandlerOnError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServiceNowStopHandlerOnError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EwsRetryIntervalMilliseconds" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="EwsDefaultMaxWaitTimeSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EwsTraceFolderPath" serializeAs="String">
                <value>c:\MSMQHandlerService\Logs\EwsTrace</value>
            </setting>
            <setting name="EwsTraceEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CicQueueServiceMessageExpiration" serializeAs="String">
                <value>08:00:00</value>
            </setting>
            <setting name="CicQueueServiceReceiveTimeout" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="CicQueueServiceMaxRetries" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ServiceNowQueueServiceMessageExpiration" serializeAs="String">
                <value>08:00:00</value>
            </setting>
            <setting name="ServiceNowQueueServiceReceiveTimeout" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="ServiceNowQueueServiceMaxRetries" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ImanageQueueServiceMessageExpiration" serializeAs="String">
                <value>08:00:00</value>
            </setting>
            <setting name="ImanageQueueServiceReceiveTimeout" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="ImanageQueueServiceMaxRetries" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="EwsQueueServiceMessageExpiration" serializeAs="String">
                <value>08:00:00</value>
            </setting>
            <setting name="EwsQueueServiceResponseTimeout" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="EwsQueueServiceMaxRetries" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CicQueueServiceStartupTimeout" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="CicQueueServiceShutdownTimeout" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="ServiceNowQueueServiceStartupTimeout" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="ServiceNowQueueServiceShutdownTimeout" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="ImanageQueueServiceStartupTimeout" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="ImanageQueueServiceShutdownTimeout" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="EwsQueueServiceStartupTimeout" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="EwsQueueServiceShutdownTimeout" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="EwsCacheTimeout" serializeAs="String">
                <value>00:10:00</value>
            </setting>
            <setting name="CicQueueServicePurgeInterval" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImanageQueueServicePurgeInterval" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServiceNowQueueServicePurgeInterval" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EwsQueueServicePurgeTime" serializeAs="String">
                <value>3.00:00:00</value>
            </setting>
            <setting name="ImanageCacheTimeout" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="ImanageDeclareAsRecord" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EwsQueueServicePurgeInterval" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CicQueueServicePurgeTime" serializeAs="String">
                <value>3.00:00:00</value>
            </setting>
            <setting name="ImanageQueueServicePurgeTime" serializeAs="String">
                <value>3.00:00:00</value>
            </setting>
            <setting name="ServiceNowQueueServicePurgeTime" serializeAs="String">
                <value>3.00:00:00</value>
            </setting>
            <setting name="ServiceNowPlaceholderName" serializeAs="String">
                <value />
            </setting>
            <setting name="CacheServiceTimeout" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="ImanageUrlASIADOCS" serializeAs="String">
                <value>http://hkdimanweb1.com/Worksite</value>
            </setting>
            <setting name="ImanageUrlEUDOCS" serializeAs="String">
                <value>http://mndimanweb1.com/Worksite</value>
            </setting>
            <setting name="ImanageUrlUSDOCS" serializeAs="String">
                <value>http://lvdimanweb1.com/Worksite</value>
            </setting>
            <setting name="LogSizeMB" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="InternalLoggingFile" serializeAs="String">
                <value>c:\MSMQHandlerService\Logs\InternalLogging\nlog.txt</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>MSMQHandlerService.txt</value>
            </setting>
            <setting name="ImanageDeclareAsRecordExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>EFX</string>
                        <string>FORM</string>
                        <string>VSD</string>
                        <string>HTML</string>
                        <string>HTM</string>
                        <string>MIME</string>
                        <string>WAV</string>
                        <string>TIF</string>
                        <string>PRJ</string>
                        <string>MPP</string>
                        <string>EML</string>
                        <string>MSG</string>
                        <string>GIF</string>
                        <string>WDF</string>
                        <string>URL</string>
                        <string>NRL</string>
                        <string>XML</string>
                        <string>DWF</string>
                        <string>PNG</string>
                        <string>JPG</string>
                        <string>JPEG</string>
                        <string>BMP</string>
                        <string>KML</string>
                        <string>ZIP</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ApplicationEventId" serializeAs="String">
                <value>10101</value>
            </setting>
        </MSMQHandlerService.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
